*{
margin: 0;
padding: 0;
font-family: 'Times new roman', sans-serif;
box-sizing: border-box;
}
body{
	background: black;
}
.box{
	width: 90%;
	max-width: 470px;
	background: linear-gradient(135deg, #00feba, #5b548a);
	color: white;
	margin: 100px auto 0;
	border-radius: 20px;
	padding: 40px 35px;
	text-align: center;
}
.search{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.search input{
	border: 0;
	outline: 0;
	background: #ebfffc;
	color: #555;
	padding: 10px 25px;
	height: 60px; 
	border-radius: 30px;
	font-size:18px;
	flex: 1;
	margin-right: 16px;
}
.search button{
    border: 0;
	outline: 0;
	background: #ebfffc;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	cursor: pointer;
}
.search button img{
	width: 16px;
}
.W-icon{
	width: 170px;
	margin-top: 30px;
}
.weather h1{
	font-size: 72px;
	font-weight: 500;
	margin-bottom: 15px;
}
.weather h2{
	font-size: 38px;
	font-weight: 400;
	margin-top: 18px;
}
.details{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
	margin-top: 50px;
}
.col{
	display: flex;
	align-items: center;
	text-align: left;
}
.col img{
	width: 37px;
	margin-right: 10px;
}
.humidity, .wind{
	font-size: 27px;
	margin-top: -6px;
}
.weather{
	display: none;
}
.error{
	text-align: left;
	margin-left: 10px;
	font-size: 14px;
	margin-top: 10px;
	display: none;
}
.feels {
    font-size: 16px;
    margin-bottom: 18px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.15);
    padding: 8px 18px;
    border-radius: 20px;
	backdrop-filter: blur(5px);
}
.updated {
	display: inline-block;
	background: rgba(0, 0, 0, 0.15);
    padding: 7px 14px;
    border-radius: 15px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.8);
}